/* BP -> monitores pequeños y laptops */
@media (max-width: 960px){
    .card__image{
        height: 80%;
    }
}

/* BP -> dispositivos moviles y tablets landscape  */
@media (max-width: 768px) {
    .navbar {
       flex-direction: column;
       gap: 2rem;
    }

    .product-container__item{
        flex: 0 0 45%
    }

    .card__image{
        height: 80%;
    }
}
/* BP -> dispositivos moviles y tablets portrait */
@media (max-width: 468px) { 
    .navbar .navbar__menu {
        flex-direction: column;
        text-align: center;
    }

    .product-container__item{
        flex: 0 0 90%
    }

    .card__image{
        height: 80%;
    }
}