/* BP -> dispositivos moviles y tablets landscape  */
@media (max-width: 768px) {
    .navbar {
       flex-direction: column;
       gap: 2rem;
    }

    .product-container__item{
        flex: 0 0 48%
    }
}
/* BP -> dispositivos moviles y tablets portrait */
@media (max-width: 468px) { 
    .navbar .navbar__menu {
        flex-direction: column;
        text-align: center;
    }

    .product-container__item{
        flex: 0 0 98%
    }
}